
<html>

    <head>
            <link rel="shortcut icon " type="images/x-icon" href="/images/heatzyIcon.png">
            <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
        <title>
            <%= title %>
        </title>
        <meta charset="uf-8">
        <style type="text/css">
            .line{
                font-family:Arial, Helvetica, sans-serif;
                font-size:30px;
                align-content: center;
            }
        </style>
       
    </head>
    
    <body>
        <div id="header">
            <h1 align="center">
                <img  src="/images/HEATZY_LOGO.png" alt="heatzy-logo" />
            <hr />
            </h1>
            
            </div>
            <table width="70%" height="80%" align="center" >
                <tbody>
                <tr height="90%">
                <td>
                    <div align="center">
                       <img src="images/Smartphone.png"/> 
                    </div>
                    
                </td>
                <td>
                    <div class="line">Téléchargez l'application Heatzy sur</div>
                    <div class="line">smartphone et connectez ce compte</div>
                    <div class="line">sur l'app pour appairer les produits.</div>
                <br>
                    <div align="center">
                        <img src="images/QRCodeApp.png" height="150px" width="150px"/>
                    </div>
                    <br>
                    <div class="line">Scannez pour télécharger l'app "Heatzy" </div>
                    <div class="line">ou recherchez l'application sur</div>
                    <div class="line">le store de votre téléphone.</div>
                    </td>
                </tr>
                <tr height="10%" >
                    <td colspan="2" align="center">
                            <a href="https://heatzy.com"><img src="images/HomePage.png"  height="9%" width="4%"></a>
                    </td>   
                </tr>
                </tbody>
            </table>
               

    </body>
    
    </html>